@media(max-width: 1600px) {
    .champion-container,
    .red-team .champion-container {
        margin: 2rem 1rem 1rem 1rem;
    }
}

@media(max-width: 1368px) {
    .champion-container,
    .red-team .champion-container {
        margin: 1rem 1rem 1rem 1rem;
    }
}

@media(max-width: 842px) {
    .social-medias {
        display: none;
    }
    .champion-container {
        display: none;
    }
    .mapa {
        display: none;
    }
    .spin {
        display: none;
    }
    .loader {
        position: absolute;
        z-index: -2;
        opacity: .07;
        left: 25%;
        top: 30rem;
        width: 50%;
        margin-top: 13rem;
    }
}